@import '../../../styles.scss';

@media only screen and (max-width: 1225px) and (min-width: 800px) {
  /* For mobile phones: */
  [class*="score-entry-ctn"] {
    max-height: 200vw !important;
  }
}

@media only screen and (max-width: 1585px) and (min-width: 1226px) {
  /* For mobile phones: */
  [class*="score-entry-ctn"] {
    max-height: 120vw !important;
  }
}

@media only screen and (max-width: 1875px) and (min-width: 1586px) {
  /* For mobile phones: */
  [class*="score-entry-ctn"] {
    max-height: 80vw !important;
  }
}

@media only screen and (max-width: 799px) and (min-width: 769px) {
  /* For mobile phones: */
  [class*="score-entry-ctn"] {
    max-height: 240vw !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="score-entry-ctn"] {
    max-height: none !important;
  }
}



.pagination-button {
  @include box();
  @include largeFont();
  margin: 15px;
  @include buttonStyling();
}

.apply-button {
  @include box(30px, 100px);
  margin: 10px;
  @include largeFont();
  @include buttonStyling();
}

.button-div {
  text-align: center;
  font-size: large;
}

.header-div {
  text-align: center;
}

#round-title {
  font-size: x-large;
}

#score-title {
  font-size: xx-large;
  padding: 5px;
}

[data-score-entry-ctn] {
  @include centerFlex();
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 35vw;
  align-content: center;
}

[data-player-label] {
  font-weight: 500;
  min-width: 100px;
}

.player-score-form-field {
  min-width: 50px;
  width: 50px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

[data-for-each-player] {
  @include centerFlex();
  text-align: center;
}

[data-for-each-player]:nth-child(odd) {
  background: var(--backgroundColor);

}
