@use '../../../theme' as *;

.confirm-label {
  padding: 8px 4px 4px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

[data-popup-ctn] {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

[data-confirm-button] {
  height: 40px;
  width: 110px;
  font-size: 1rem;
  @include primaryButtonStyling();
}

[data-cancel-button] {
  height: 40px;
  width: 110px;
  font-size: 1rem;
  @include buttonStyling();
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: var(--radius-lg) !important;
}
