@import '../../../styles.scss';

.confirm-label {
  padding: 5px;
  font-size: x-large;
  font-weight: 400;
}

[data-popup-ctn] {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-div {
  text-align: center;
  font-size: large;
}

[data-confirm-button], [data-cancel-button] {
  height: 30px;
  margin: 10px;
  width: 100px;
  font-size: large;
  font-weight: 400;
  @include buttonStyling();
}
