.dropdown-ctn {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown__label {
  font-weight: 500;
  min-width: 260px;
}

.dropdown-form-field {
  min-width: 100px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep .mat-option {
  white-space: pre-wrap !important;
  text-indent: 0;
}

::ng-deep .mat-option-text {
  line-height: 1.5em !important;
  padding: 8px;
  box-sizing: content-box;
}

::ng-deep .mat-select {
  overflow: visible;
}

::ng-deep .mat-select-value-text {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  box-sizing: content-box;
  padding: 5px;
}

::ng-deep
.mat-form-field {
  .mat-select {
    height: 24px;
    overflow: visible;

    .mat-select-value-text {
      overflow: visible;
      display: flex;
    }
  }

  .mat-select-value {
    overflow: visible;
  }
}

