/* You can add global styles to this file, and also import other style files */

@use 'theme' as *;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Color Palette: Triadic Scheme

:root {
  @each $key, $value in $target-colors {
    @include generate-color-var($key, $value);
  }

  --buttonColor: var(--blue-color-40);
  --backgroundColor: var(--blue-color-80);
}
